@media screen and (max-width: 768px) {
	html {
	  font-size: 1px;
	}
	body {
		font-size: 16px;
		display: flex;
		flex-direction: column;
	}
	h1,
	.main-oval h1 {
		margin: 16px 0;
		font-size: 40px;
		letter-spacing: -1.5px;
		line-height: 46px;
		text-align: center;
	}
	h2 {
		margin: 0 0 20px;
		font-size: 24px;
		line-height: 26px;
		letter-spacing: -0.4px;
		text-align: center;
	}
	p {
		margin: 0 0 42px;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		letter-spacing: unset;
	}
	/*-b-all------------------------*/
	.wrap {
		max-width: 375px;
	}
	.wrapl {
		max-width: 375px
	}
	/*-b-btn----*/
	.btn {
		height: 50px;
		width: 200px;
		border-radius: 2px;
		font-size: 19px;
		letter-spacing: -0.5px;
	}
	.btn.transparent {
		height: 40px;
		width: 150px;
		border-width: 2px;
	}
	.btnr {
		width: 60px;
		height: 60px;
		font-size: 12px;
		letter-spacing: -0.4px;
	}
	.close {
		width: 20px;
		height: 20px;
	}
	.close:before,
	.close:after {
		width: 0.573vw;
		height: 2px;
	}
	.btn:hover {
		transform: translateY(-3px);
		filter: drop-shadow(0 20px 1.979vw rgba(0, 0, 0, 0.16));
	}
	/*-e-btn----*/

	/*-b-inputs-*/
	input {
		font-size: 13px;
		line-height: 17px;
		padding: 10px;
	}
	/*-e-inputs-*/
	/*-e-all------------------------*/



	/*-b-header---------------------*/
	/*-mob-*/
	#smbmobmenu {
		position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    height: 100%;
	}
	}
	.mob-nav {
		position: absolute;
		top: 44.57%;
		right: 50px;
		color: #f2f2f2;
		width: 192.5px;
		transform: translateY(-50%);
	}
	/*-desc-*/
	.fullwrap {
		box-sizing: border-box;
		transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
		height: 100vh;
		overflow: auto;
	}
	.fullwrap-inner {
		/* position: relative; */
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
	}
	body.menu .fullwrap-inner {
		transform: scale(1.007);
		transform-origin: center top;
	}
	body.menu .fullwrap {
		transform: scale(0.84) translate3D(-83vw,0,0);
		overflow: hidden;
	}
	header {
		position: fixed !important;
		top: 0;
		order: 0;
		height: 48px;
		padding: 0;
		background-color: rgba(255, 255, 255, 0.96) !important;
		
	}
	body.menu header {
		transform: scale(0.99);
	}

	header:before {
		bottom: -1px;
		height: 1px;
	}
	header .logo img {
		width: 105px;
		height: 24px;
		filter: unset !important;
	}
	header .wrap {
		width: 280px;
		justify-content: space-between;
		padding: 0 0 0;
		box-sizing: border-box;
	}
	#top-center {
		display: none;
	}
	#h-req-quote {
		display: none;
	}
	.icon-search {
		width: 60px;
		height: 40px;
		border-radius: 20px;
	}
	.icon-search:before {
		font-size: 18px
	}

	/*-header-mob-*/
	#header-mob {
		display: flex;
	}
	#header-mob .icon-googleplay {
		font-size: 23px;
		margin: auto 8px auto 0;
	}
	#header-mob .icon-appstore {
		font-size: 24px;
		margin: auto 27px auto 0;
	}

	#smb-header-btn {
		height: 60px;
		width: 186px;
		max-width: 186px;
		width: 49.6vw;
		flex-direction: row-reverse;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0;
	}
	#smb-header-btn:before {
		font-size: 10px;
		margin: 2px 0 0 6px;
	}
	
	/*-burger-*/
	.burger {
		margin: auto 0;
		margin-top: 1px;
		position: relative;
		width: 22px;
		height: 25px;
		cursor: pointer;
	}
	.burger-el {
		position: absolute;
		left: 0;
		width: 22px;
		height: 2px;
		background-color: var(--black);
	}
	.bel1 { top: 5px; }
	.bel2 { top: 11px; }
	.bel3 { top: 17px; width: 16px; }

	/*-b-mob-top----------*/
	/*-mob-top-close-*/
	#smbclose1 {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 25px;
		right: 25px;
		transform: scale(0);
		transition: transform 0.3s ease;
	}
	#smbclose1:before {
		content: "";
		background-color: rgba(0,0,0,.06);
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
	
	}
	.smbclose1,
	.smbclose2 {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #fff;
		width: 20px;
		height: 2px;
	}
	.smbclose1 {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.smbclose2 {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	body.menu #smbclose1 {
		transform: scale(1);
		transition: transform 0.3s ease 0.3s;
	}


	/*-mob-top-*/
	#mob-top {
		font-family: "Mark";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		color: #fff;
		transform: translateY(-100%);
		transition: transform 0.3s ease;
		background-color: var(--black);
		z-index: 900;
		padding: 74px 0 118px;
		display: flex;
		flex-direction: column;
	}
	#mob-top.white {
		background-color: #fff;
		color: var(--black);
	}
	#mob-top.white a {
		color: var(--black);
		font-weight: 800;
	}


	#mob-top.active {
		transform: translateY(0%);
	}
	#mob-top a {
		color: #fff;
	}
	.cross {
		position: relative;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	.cross:before,
	.cross:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #fff;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.cross:before {
		width: 25px;
		height: 2px;
	}
	.cross:after {
		width: 2px;
		height: 25px;
	}
	#mob-top .cross {
		position: absolute;
		top: 28px;
		/* left: calc(50% + 142px); */
		right: 19px;
	}
	#mob-top.white .cross:before,
	#mob-top.white .cross:after {
		background-color: var(--black);
	}

	#mob-top-title,
	.mt-link {
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		line-height: 1;
		padding: 0 0;
		font-weight: 400;
		color: #f2f2f2;
	}
	#mob-top-title {
		position: relative;
		margin-bottom: 20px;
	}
	#mob-top-title:before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0px;
		width: 8px;
		height: 40px;
		border-radius: 0 2px 2px 0;
		background-color: var(--red);
	}
	#mob-top-nav {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}
	.mob-top-link {
		padding: 7px 0;
		position: relative;
		width: 100%;
		/* background-color: #000; */
		/* transition: background-color 0.3s ease; */
		flex-shrink: 0;
		margin: 8px 0 9px;
	}
	.mob-top-link.hhh {
		overflow: hidden;
	}
	.mob-top-link ul {
		padding: 0;
	}
	.mob-top-link ul li {
		margin: 10px 0 14px;
	}
	.mob-top-link ul li:last-child {
		margin-bottom: 0;
	}
	.mob-top-link ul a {
		font-size: 18px;
		line-height: 24px;
		color: #f2f2f2;
		margin: 10px 0 14px;
	}
	.mob-top-link:not(.hhh) {
		min-height: 37px;
		box-sizing: border-box;
	}
	.hider-row {
		display: flex;
	}
	.mt-link {
		flex-shrink: 0;
	}

	.mob-top-link .icon-arr-t {
		position: relative;
		flex-grow: 1;
		min-width: 80px;
		font-size: 10px;
	}
	.mob-top-link .icon-arr-t:before {
		position: absolute;
		top: -2px;
		right: 3px;
		font-size: 6.2px;
		transition: transform 0.3s ease;
	}
	.mob-top-link.hidden .icon-arr-t:before {
		transform: rotate(180deg);
	}
	.mob-top-link .hider {
		display: flex;
		flex-direction: column;
		padding: 8px 0 0;
		list-style: none;
		box-sizing: border-box;
		transition: height 0.3s ease;
	}
	.mob-top-link.hidden .hider {
		height: 0 !important;
	}
	.mt-sublink {
		font-size: 20px;
		line-height: 44px;
	}

	#mob-top .btn {
		position: absolute;
		bottom: 38px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 60px);
		max-width: 315px;
	}
	/*-e-mob-top----------*/
	/*-e-header---------------------*/
	.desc {display: none;}
	.mob {display: block;}


	
	
	/*-b-footer----------------------*/
	/*-b-footer----------------------*/
	.footer1 .wrap {
		max-width: 100%;
		width: 320px;
		padding: 54px 0 15px;
		flex-direction: column;
	}
	.fcol2a {
		font-size: 16px;
	}

	.footer1 h4 {
		margin: 0 0 15px;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 2px;
	}
	.footercol {
		width: 100%;
		margin: 0 0 40px;
	}

	/*-fcol1-*/
	.footercol1 .logo {
		margin: 0 0 26px;
	}
	.footercol1 .fcol2a{
		padding: 0 0 20px;
	}
	.footercol1 .fcol2a:last-child {
		padding: 0;
	}

	/*-fcol2-*/
	.footercol2 .fcol2a {
		font-size: 16px;
	}
	.footercol2 .fcol2a + h4 {
		margin: 30px 0 15px;
	}


	.footer2 {
		min-height: 66px;
	    padding: 20px 0px;
	    font-size: 12px;
	}
	.footer2 .wrap {
		width: 320px;
		padding: 0 0;
		flex-direction: column;
	}
	#copyright {
	    line-height: 22px;
		margin: 3px 0 25px;
	}

	.fblog-elem {
		padding: 0 0 4px;
		margin: 0 0 19px;
		font-size: 16px;
		min-height: 65px;
		padding: 0 0 0 90px;
	}
	.fblog-img {
		width: 65px;
		height: 65px;
		border-radius: 5px;
	}
	.fblog-title {
		line-height: 22px;
	}
	.fblog-date {
		font-size: 13px;
	    line-height: 14px;
	    margin-top: 6px;
	}

	/*-input-*/
	.finput {
		margin: 19px 0 20px;
	}
	.finput input {
		line-height: 22px;
		font-size: 15px;
		border-bottom: 1px solid #e0e0e0;
		padding: 13px 0;
	}
	.finput-top {
		top: -7px;
		font-size: 12px;
	}
	.finput-back {
		top: 16px;
		font-size:14px;
	}


	footer .btn.blue {
		width: 108px;
		height: 32px;
		font-size: 15px;
		border-radius: 5px;
		letter-spacing: 0.45px;
	}
	.footer2col a {
		font-size: 16px;
		width: 16px;
		margin: 0 25px 0 0;
	}
	.footer2col {
		height: 42px;
		align-items: center;
	}

	/*-e-footer----------------------*/



	/*----------------------------------------*/
	/*-b-а------------------------------------*/
	/*-b-b--------------------------*/
	/*-b-b--------------------------*/
	/*-e-a------------------------------------*/
	/*----------------------------------------*/




	
	
	
	
	
	
	
	
	
	
	
	
	/*--------------------------------------------------------------------------------*/
	/*-b-events-------------------------------*/
	.main-oval.main-events p {
		margin-bottom: 30px;
	}

	.events__title {
		font-family: "Mark";
		font-size: 40px;
		letter-spacing: -1.5px;
		line-height: 54px;
		font-weight: 800;
		margin-top: -22px;
		margin-bottom: 50px;
	}
	
	.events_form h1 {
		font-size: 48px;
	}
	
	.events__grid {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		width: 340px;
		margin: 0 auto;
	}
	.events__grid .g-elem, 
	.events__grid .g-elem.g2 {
		margin: 0;
		width: 340px !important;
		height: 520px;
		margin-bottom: 21px;
	}

	.events__grid .g-elem:last-child, 
	.events__grid .g-elem.g2:last-child {
		margin-bottom: 0;
	}

	.events__grid .e_pos {
		padding: 53px 15px 0;
		margin-top: 300px;
	}
	.events__grid .e_pos:before {
		width: 800px;
		/* 26.3% */
	}

	.events__grid .e_name {
		font-size: 16px;
		letter-spacing: -0.3px;
		line-height: 22px;
		margin-bottom: 16px;
	}
	.events__grid .e_date {
		font-size: 16px;
		letter-spacing: -0.3px;
		line-height: 22px;
		margin-bottom: 13px;
	}
	.events__grid .e_location {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.4px;
		line-height: 26px;
	}

	.events-form {
		padding-top: 80px;
	}
	.events-form h2 {
		font-size: 40px;
		line-height: 54px;
		font-weight: 800;
		margin-bottom: 30px;
	}

	/*--------------------------------------------------------------------------------*/
	/*-b-search-------------------------------*/
	#search-result {
		width: 375px;
		padding: 30px 17px 0px 18px; 
		box-shadow: unset;
	}
	#search-result-title {
		font-size: 24px;
		line-height: 26px;
		letter-spacing: -0.4px;
		margin-bottom: 16px;
	}
	/*-elem-*/
	.search-result-elem {
		padding: 14px 0 17px;
	}
	.search-result-elem:before {
		height: 1px;
	}
	.sr-date {
		width: 49px;
		margin: 0 5px 0 0;
		font-size: 14px;
		line-height: 24px;
	}
	.sr-text {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.6px;
	}
	.sr-text span {
		margin-left: 17px;
		font-size: 10px;
		line-height: 11px;
	}
	.sr-text span:before {
		left: -8px;
		top: -5px;
		right: -8px;
		bottom: -6px;
		border-radius: 2px;
	}
	#search-result .btn {
		width: 130px;
		height: 40px;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.3px;
		padding-left: 21px;
		margin: 17px auto 0;
	}
	#search-result .btn:before {
		font-size: 8px;
		top: 18px;
		right: 20px;
	}
	/*-e-search-------------------------------*/
	/*--------------------------------------------------------------------------------*/












		/*-b-forsmb-----------------------------------------*/
	/*-b-smbmain--------------------*/
	.smbmain {
		padding-top: 48px;
		min-height: 767px;
	}
	.smbmain .wrap {
		flex-direction: column;
	}
	.smbmain .bg1 {
		left: 0;
		width: 100%;
		top: 0;
		height: 100%;
		background-size: cover;
		background-position: bottom center;
	}
	.smbmain .col:first-child {
		padding: 43px 0 0;
		width: 320px;
		margin: 0 auto;
	}
	.smbmain h5 {
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 1px;
		margin: 0 0 36px;
	}
	.smbmain h1 {
		font-size: 40px;
		line-height: 45px;
		letter-spacing: -2px;
		margin: 0 0 31px;
		text-align: left;
	}
	.smbmain h4 {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.2px;
		max-width: 600px;
		margin: 0 0 40px;
		font-weight: 400;
	}
	.smbmain .btn {
		width: 298px;
	}
	.smbmain .btn:before {
		font-size: 10px;
		margin: 2px 0 0 6px;
	}
	.smbmain img {
		position: static;
		top: unset;
		left: unset;
		width: 310px;
		height: 162px;
		margin: 42px auto 0;
	}
	/*-e-smbmain--------------------*/

	/*-b-smbsecond------------------*/
	.smbsecond {
		padding: 0 0 45px;
	}
	.smbsecond-1, 
	.smbsecond-3 {
		flex-direction: column;
	}
	.smbsecond-2 {
		flex-direction: column-reverse;
	}

	.smbsecond h3 {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0px;
		margin: 0;
	}
	.smbsecond p {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: -0.2px;
		margin: 20px 0 0;
		text-align: left;
	}

	.smbbg {
		display: none;
	}
	.smbsecond-1 img,
	.smbsecond-2 img,
	.smbsecond-3 img {
		position: static;
		flex-shrink: 0;
		object-fit: contain;
	}

	.smbsecond-1 img {
		width: 268px;
		height: 174px;
		margin: 0 auto 0;
	}
	.smbsecond-1 .col,
	.smbsecond-2 .col,
	.smbsecond-3 .col {
		margin: 16px auto 0;
		width: 335px;
	}

	.smbsecond-2 img {
		width: 369px;
		height: 246px;
		transform: translateX(-21px);
	}

	.smbsecond-3 img {
		width: 388px;
		height: 259px;
	}

	.smbsecond-2 .col {
		margin-top: -28px;
	}
	.smbsecond-3 .col {
		margin-top: -38px;
	}


	/*-e-smbsecond------------------*/

	/*-b-sect7trial-----------------*/
	.sect7trial {
		min-height: 317px;
	}
	.sect7trial .bg1 {
		background-image: unset !important;
		background-color: var(--gray);
	}
	.sect7trial .wrap {
		top: 0;
		box-sizing: border-box;
		padding: 46px 0 51px;
		width: 320px;
	}
	.sect7trial h4 {
		font-family: 'Roboto', sans-serif;
		margin: 133px;
		margin: 0 auto 40px;
		letter-spacing: 0px;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
	}
	.sect7trial .btn {
		width: 310px;
	}
	.sect7trial .btn:before {
		font-size: 10px;
		margin: 2px 0 0 6px;
	}
	/*-e-sect7trial-----------------*/

	/*-b-smbsimple------------------*/
	.smbsimple .wrap {
		flex-direction: column;
	}
	.smbsimple h3 {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -1.8px;
		margin: 69px auto 82px;
	}

	.smbsimple-item {
		width: 100%;
		/* flex-direction: row; */
		padding-left: 114px;
		box-sizing: border-box;
	}
	.smbsimple-item h4 {
		margin: 0 auto 20px 0;
		text-align: left;
	}
	.smbsimple-item p {
		text-align: left;
		margin: 0 0 40px;
	}
	.smbsimple-item-img {
		position: absolute;
		left: 0;
		top: 0;
	}
	.smbsimple-item-img img {
		position: absolute;
		top: 10px;
		left: 12px;
		width: 74px;
		height: 74px;
	}
	.smbsimple-item-img:before {
		top: 2px;
		left: 0px;
		width: 57px;
		height: 57px;
	}
	.smbsimple-item-img.phone img {
		width: 66px;
	}
	.smbsimple-item-img.dashboardsvg img {
		width: 64px;
	}
	/*-e-smbsimple------------------*/

	/*-b-smbswitch------------------*/
	.smbswitch {
		min-height: 0;
		padding-bottom: 90px;
	}
	.smbswitch h2 {
		margin: 0 auto 40px;
	}

	.trigger-wrap.white .icon-check {
		box-shadow: 2px 2px 8px rgba(150, 252, 213, 0.195258);
	}
	.smbswitch .trigger-wrap {
		margin: 51px auto 25px;
		padding-left: 0px;
	}
	.smbswitch .trigger-wrap span {
		width: 108px;
	}
	.smbswitch .trigger-wrap span:first-child {
		text-align: right;
		padding-bottom: 3px;
	}

	.smbswitch-wrap {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	/*-item-*/
	.smbsw-i {
		width: 335px;
		padding: 40px 0;
		margin-bottom: 60px;
	}
	.smbsw-i:last-child {
		margin-bottom: 0;
	}
	.smbsw-i-title {
		letter-spacing: -0.4px;
		font-size: 28px;
		line-height: 26px;
	}
	.smbsw-i-img {
		width: 280px;
		height: 176px;
	}
	.smbsw-i-img img {
		display: none;
	}
	.smbsw-i-img .c025 {
		/* padding: 0 0 35px 35px;  */
	}
	.smbsw-i-num {
		margin: 40px auto 3px;
		letter-spacing: -1.8px;
		font-size: 48px;
		line-height: 54px;
	}
	.smbsw-i-subnum {
		letter-spacing: -0.4px;
		font-size: 14px;
		line-height: 20px;
		max-width: 145px;
	}

	.smbsw-i-price {
		font-size: 28px;
		letter-spacing: -1.8px;
		margin: 0 0 6px;
	}
	.smbsw-i-subprice {
		letter-spacing: -0.4px;
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 26px;
	}
	.smbsw-i .btn {
		width: 280px;
		margin-bottom: 46px;
	}
	.smbsw-i-noprice {
		font-size: 16px;
		line-height: 24px;
		margin: -12px 0 20px;
		max-width: 280px;
	}
	.smbsw-i .btn:before {
		font-size: 10px;
		margin: 2px 0 0 6px;
	}
	.smbsw-i-ul {
		padding: 0 0 0 22px;
		margin: 0 45px 0;
	}
	.smbsw-i-ul li {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}
	.smbsw-i-ul li:before {
		top: 6px;
		width: 12px;
		height: 10px;
		left: -22px;
	}
	/*-e-smbswitch------------------*/

	/*-b-smbbenefits----------------*/
	/* .smbbenefits {} */
	.smbbenefits h3 {
		letter-spacing: 0px;
		font-size: 24px;
		line-height: 30px;
		margin: 69px auto 56px;
	}
	.smbben-wrap {
		width: 100%;
		max-width: 375px;
		margin: 0 0 78px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.smbben-item {
		width: 50%;
		flex-shrink: 0;
	}
	.smbben-item:before {
		top: 30px;
		left: 66px;
		width: 45px;
		height: 45px;
	}
	.smbben-img {
		top: 56px;
		left: 94px;
		max-width: 50px;
		max-height: 50px;
	}
	.smbben-item h4 {
		margin: 98px auto 32px;
		letter-spacing: -0.4px;
		font-size: 16px;
		line-height: 28px;
		font-weight: 500;
		max-width: 150px;
	}
	/*-e-smbbenefits----------------*/

	/*-b-smbwhat--------------------*/
	.smbwhat h3 {
		font-weight: 800;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0px;
		margin: 0 auto 62px;
		max-width: 250px;
	}
	.smbwhat-wrap {
		width: 100%;
		padding: 0 0 78px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.smbwhat-wrap .smbbg {
		top: -53px;
		left: -74px;
	}
	.smbwhat .bg1 {
		background-image: unset !important;
	}


	.smbwhat-i {
		width: 335px;
		max-width: calc(100vw - 20px);
		height: 460px;
		margin: 0 0 25px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	}
	/* .smbwhat-i:before {
		content: "";
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.1s linear;
	}
	.smbwhat-i:hover:before {
		transform: translateY(100%);
	} */
	.smbwhat-i:last-child {
		margin: 0;
	}
	.smbwhat-i:after {
		left: 27px;
		right: 27px;
		height: 24px;
	}
	.smbwhat-i img {
		bottom: 115px;
	}
	.smb-i-content {
		top: 290px;
		padding: 58px 28px 28px;
		pointer-events: none;
	}
	.smb-i-content:before {
		width: 880px;
		height: 880px;
	}
	.smb-i-title {
		margin: 0 0 18px;
		font-size: 24px;
		line-height: 26px;
	}
	.smb-i-text {
		font-size: 16px;
		line-height: 22px;
	}
	/*-hover-*/
	.smbwhat-i:hover .smb-i-content {
		top: 290px;
	}
	.smbwhat-i.active .smb-i-content {
		top: 0;
	}
	.smbwhat-i:hover .smb-i-content:before {
		border-radius: 50%;
	}
	.smbwhat-i.active .smb-i-content:before {
		border-radius: 0%;
	}
	.smb-i-name {
		font-size: 19px;
		line-height: 12px;
		letter-spacing: -0.4px;
		margin: 30px 0 12px;
	}
	.smb-i-pos {
		font-size: 15px;
	}
	/*-e-smbwhat--------------------*/

	/*-b-smblafmf-------------------*/
	.smblafmf {
		min-height: 339px;
		margin-bottom: 55px;
	}
	.smblafmf h3 {
		font-weight: 800;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0;
		max-width: 302px;
		margin: 108px auto 30px;
	}
	.smblafmf .btn {
		width: 310px;
		height: 60px;
		margin-bottom: 111px;
	}
	.smblafmf .btn:before {
		font-size: 10px;
		margin: 2px 0 0 6px;
	}
	/*-e-smblafmf-------------------*/
	/*-e-forsmb-----------------------------------------*/


}