.blog_tag__grid {
	margin-bottom: 50px;
}
.blog_tag__grid .g-img:after {
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0);
}
.blog_tag__grid .g-elem {
	cursor: pointer;
	display: flex;
	flex-flow: column;
}
.blog_tag__grid .g-elem:before {
	display: none !important;
}
.blog_tag__grid .g-elem .tw_pos {
	position: relative;
	margin-top: auto;
	width: 100%;
	padding: 35px 30px;
	transition: all 0.3s ease;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-content: flex-start;
	z-index: 3;
	box-sizing: border-box;
}
.blog_tag__grid .g-elem .tw_pos:before {
	content: "";
	position: absolute;
	top: 100%;
	width: 800px;
	transform: translate(-50%, 0px);
	/* 26.3% */
	left: 50%;
	z-index: 2;
	width: 210%;
	padding-top: 210%;
	border-radius: 50%;
	height: auto !important;
	background-image: linear-gradient(330deg, #fd574c 0%, #fd574c 88.3%);
	transition: all 0.3s ease;
	z-index: -1;
}
.blog_tag__grid .g-elem .tw_tag {
	box-sizing: content-box;
	width: auto;
	display: inline-block;
	padding: 0 8px;
	color: rgba(255, 255, 255, 0.6);
	font-family: "Mark";
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 20px;
	text-transform: uppercase;
	border-radius: 2px;
	background-color: #1d252d;
	transition: all 0.3s ease;
	margin-bottom: 10px;
}
.blog_tag__grid .g-elem .tw_title {
	color: #ffffff;
	font-family: "Mark";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.4px;
	line-height: 26px;
	transition: all 0.3s ease;
	margin-bottom: 0px;
}
.blog_tag__grid .g-elem .tw_more {
	color: #ffffff;
	font-family: "Mark";
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.3px;
	line-height: 14px;
	text-transform: uppercase;
	display: flex;
	flex-flow: row;
	justify-content: center;
	position: relative;
	top: 100%;
	transition: all 0.3s ease;
}
.blog_tag__grid .g-elem .tw_more span {
	display: inline-block;
	padding-right: 4px;
}
.blog_tag__grid .g-elem .tw_more img {
	width: 6px;
}
.blog_tag__grid .g-elem:hover .tw_pos {
	padding: 45px 30px;
}
.blog_tag__grid .g-elem:hover .tw_pos:before {
	top: 0%;
}
.blog_tag__grid .g-elem:hover .tw_title {
	margin-bottom: 44px;
}
.blog_tag__grid .g-elem:hover .tw_tag {
	opacity: 0;
	pointer-events: none;
	user-select: none;
}
.blog_tag__grid .g-elem:hover .tw_more {
	top: 0;
}
.blog_tag__grid .g-elem:hover .g-img:after {
	background-color: rgba(0, 0, 0, 0.3);
}

.step_baner {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 130px;
	padding-right: 130px;
	justify-content: flex-start;
	background-image: url("../img/blog_tag/baner_1.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 240px;
	margin-bottom: 50px;
}
.step_baner .step_banner_wrap {
	max-width: 470px;
}
.step_baner .h3_title {
	color: #1d252d;
	font-family: "Mark";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.4px;
	line-height: 27px;
	margin-bottom: 12px;
}
.step_baner .p_subtitle {
	font-family: "Helvetica Neue";
	font-size: 19px;
	font-weight: 400;
	letter-spacing: -0.1px;
	line-height: 24px;
}

.btn_more {
	height: 40px;
	width: 130px;
	border-radius: 2px;
	background-color: #1D252D;
	color: #FFFFFF;
	font-family: "Mark";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}
.btn_more i {
	margin-left: 4px;
	display: inline-block;
	font-size: 8px;
}

.blog_tag__bottom_baner {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 80px;
}
.blog_tag__bottom_baner h2 {
	width: 100%;
	display: block;
	text-align: center;
}

.blog_tag__bottom_baner_box {
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-left: 130px;
	padding-right: 130px;
	background-image: url("../img/blog_tag/color--baner-cta-last.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 240px;
	box-sizing: border-box;
}

.banner_text {
	color: #ffffff;
	font-family: "Roboto";
	font-size: 21px;
	font-weight: 400;
	line-height: 28px;
	display: block;
	text-align: center;
	max-width: 680px;
	margin-bottom: 30px;
}

label.b_style {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 0 8px;
	max-width: 580px;
	width: 100%;
}
label.b_style.label_email:before {
	position: absolute;
	top: 50%;
	left: 18px;
	width: 18px;
	height: 100%;
	transform: translateY(-50%);
	display: block;
	background-image: url("../img/thank/i__email.svg");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
	content: "";
	z-index: 1;
}
label.b_style input {
	width: 100%;
	border-radius: 2px;
	background-color: #ffffff;
	height: 50px;
	padding: 0;
	font-size: 15px;
	line-height: 15px;
	padding-left: 44px;
}
label.b_style input::placeholder {
	opacity: 0.6;
	color: #1d252d;
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.2px;
}

.b_form {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	max-width: 500px;
}
.b_form .btn {
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: none;
}

/* */
/* BLOG */
/* */
.blog_banner {
	background-image: url("../img/blog/figure.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

.blog_banner_wrap {
	width: 45%;
	height: 660px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.blog_banner_wrap .h2_title {
	color: #ffffff;
	font-family: "Mark";
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -1.8px;
	line-height: 54px;
	margin-left: 0;
	text-align: left;
	margin-bottom: 22px;
}
.blog_banner_wrap .p_subtitle {
	color: #ffffff;
	font-family: "Roboto";
	font-size: 25px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 34px;
	margin-bottom: 40px;
}
.blog_banner_wrap .btn {
	text-transform: none;
	justify-content: flex-start;
	padding-left: 18px;
}
.blog_banner_wrap .btn:before {
	position: absolute;
	right: 18px;
	font-size: 0.6em;
}