/*----------------------------------------*/
/*------------------------------*/
/*--------------------*/
/*----------*/
:root {
	--red: #FD574C;
	--blue: #99A2BD;
	--gray: #F6F8FB;
	--black: #1D252D;
	--black-fair: #2C2D33;
	--text-fair: #d2d4d6;
}
* {
	outline: 1px solid #0033ff33;
	outline: none;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--black);
}
section {
	position: relative;
}
a {
	text-decoration: none;
	color: var(--black);
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
button {
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
h1 {
	/* margin: 0 0 29px;
	font-size: 64px;
	line-height: 72px;
	letter-spacing: -2.9px;	 */
	letter-spacing: -0.151vw;
	font-family: "Mark";
	font-weight: 700;
}
h2 {
	/* margin: 0 0 32px;
	font-size: 48px;
	line-height: 54px; 
	letter-spacing: -1.8px; */

	font-family: "Mark";
	font-weight: 800;
}
p {
	/* margin: 0 0 48px;
	font-size: 25px;
	line-height: 34px;
	letter-spacing: -0.2px; */
}
.video iframe {
	width: 100%;
	height: 100%;
}
ul {
	margin: 0;
	padding-left: 0;
}



/*-b-all------------------------*/
.wrap {
	position: relative;
	/* max-width: 1440px; */
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.wrapl {
	position: relative;
	/* max-width: 1180px; */
	width: 100%;
	margin: 0 auto;
	display: flex;
}
.row {
	display: flex;
}
.col {
	display: flex;
	flex-direction: column;
}
.bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.bg1,
.bg2,
.bg3 {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
}


/*-b-btn----*/
a.btn, a.btnr {
	text-decoration: none;
}
.btn {
	position: relative;
	/* height: 60px;
	width: 200px;
	border-radius: 2px;
	font-size: 19px;
	letter-spacing: -0.3px; */
	box-sizing: border-box;
	background-color: transparent;
	font-family: "Mark";
	font-weight: 700;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform 0.3s ease, filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn.red,
.btnr.red {
	background-color: var(--red);
	color: #fff;
}
.btn.black,
.btnr.black {
	background-color: var(--black);
	color: #fff;
}
.btn.blue,
.btnr.blue {
	background-color: #0090D6;
	color: #fff;
}
.btn.transparent,
.btnr.transparent {
	/* height: 40px;
	width: 150px; 
	border-width: 2px; */
	border-style: solid;
	background-color: transparent;
}
.btn.transparent.red, 
.btnr.transparent.red {
	border-color: var(--red);
	color: var(--red);
}
.btn.transparent.black,
.btnr.transparent.black {
	border-color: var(--black);
	color: var(--black);
}

.btnr {
	position: relative;
	/* width: 60px;
	height: 60px;
	font-size: 12px;
	letter-spacing: -0.4px; */
	font-family: "Mark";
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.3s ease, filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.close {
	position: absolute;
	/* width: 20px;
	height: 20px; */
	background-color: var(--blue);
	border-radius: 50%;
	cursor: pointer;
}
.close:before,
.close:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	/* width: 11px;
	height: 2px; */
}
.close:before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.close:after {
	transform: translate(-50%, -50%) rotate(45deg);
}

/*-e-btn----*/

/*-b-inputs-*/
input {
	/* font-size: 16px;
	line-height: 22px;
	padding: 9px; */
	background-color: #fff;
}
input::placeholder {
	color: var(--blue);
}


/*-btn-hovers-*/
.btn:hover {
	/* transform: translateY(-3px); */
	/* filter: drop-shadow(0 20px 38px rgba(0, 0, 0, 0.16)); */
}
.btn.red:hover,
.btnr.red:hover {
	background-color: #FF6A60;
}
.btn.black:hover,
.btnr.black:hover {
	background-color: #323B44;
}
.btn.transparent.red:hover,
.btnr.transparent.red:hover {
	color: #fff;
	background-color: var(--red);
}
.btn.blue:hover,
.btnr.blue:hover {
	background-color: #0B9EE6;
	color: #fff;
}
.btn.transparent.black:hover,
.btnr.transparent.black:hover {
	color: #fff;
	background-color: var(--black);
}
/*-e-inputs-*/
/*-e-all------------------------*/



/*-b-header---------------------*/
header {
	position: relative;
	display: flex;
	align-items: center;
	/* height: 120px;
	padding: 40px 0; */
	box-sizing: border-box;
}
header:before {
	content: "";
	position: absolute;
	/* bottom: -1px;
	height: 1px; */
	left: 0;
	right: 0;
	background-color: var(--black);
	opacity: 0.1;
}
header .logo {
	margin: auto auto auto 0;
}
.logo {
	display: flex;
}
.logo:before {
	display: none;
}

#top-center {
	position: relative;
	/* margin-right: 86px; */
	/* margin-right: 240px; */
	display: flex;
}
#top-nav {
	display: flex;
	align-items: center;
}
#top-nav a {
	/* font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.4px;
	margin: 0 56px 0 0; */
	font-family: "Mark";
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	white-space: nowrap;
}
#top-nav a:last-child {
	margin: 0;
}

#search-wrap {
	position: relative;
	/* margin: 0 0 0 38px;
	width: 60px;
	height: 40px; */
}
#search-wrap form {
	position: absolute;
	top: 0;
	right: 0;
	/* width: 60px;
	height: 40px;
	border-radius: 20px; */
	overflow: hidden;
	transition: transform 0.4s ease, width 0.4s ease, box-shadow 0.1s ease 0.3s;
}
/* #search-wrap:hover form, */
#search-wrap.focus form {
	/* transform: translateX(30px);
	width: 750px;
	box-shadow: 8px 8px 40px rgba(29, 37, 45, 0.1); */
	transition: transform 0.4s ease, width 0.4s ease, box-shadow 0.1s ease 0s;
}
.icon-search {
	position: absolute;
	top: 0;
	left: 0;
	/* width: 60px;
	height: 40px;
	border-radius: 20px; */
	cursor: pointer;
	transition: background-color 0.2s ease 0.3s;
}
.icon-search:before {
	/* font-size: 18px; */
	color: var(--black);
	transition: color 0.2s ease 0.3s;
}
#search-wrap:hover .icon-search,
#search-wrap.focus .icon-search {
	background-color: var(--red);
	transition: background-color 0.2s ease 0s;
}
#search-wrap:hover .icon-search:before,
#search-wrap.focus .icon-search:before {
	color: #fff;
	transition: color 0.2s ease 0s;
}
#search-wrap input {
	/* width: 750px;
	padding: 8px 40px 9px 71px; */
}
#search-clean {
	/* top: 10px;
	right: 10px; */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease 0s, visibility 0s linear 0.2s;
}
#search-wrap.focus #search-clean {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s ease 0.2s, visibility 0s linear 0.1s;
}
/* 🦠 */
.socials {
	display: flex;
}
header .socials {
	/* margin: 0 20px 0 0; */
}
.social {
	position: relative;
	/* margin: 0 6px 0 0;
	width: 50px;
	height: 50px; 
	border-width: 1px; */
	border-radius: 50%;
	border-style: solid; 
	border-color: rgba(29, 37, 45, 0.2);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black-fair);
	transition: background-color 0.3s ease, border-color 0.3s ease;
}
.social:last-child {
	margin: 0;
}

header .btn {
	/* font-size: 14px; */
}
/*-e-header---------------------*/



/*-b-main-----------------------*/
.main {
	/* padding: 192px 0 161px; */
}
.main .bg1 {
	/* top: 86px;
	left: calc(50% - 182px);
	width: 1038px;
	height: 746px; */
	background-image: url(../img/main_amorphic.svg);
}
.main .wrap {
	justify-content: space-between;
}
.main .video {
	/* width: 852px;
	height: 480px;
	box-shadow: 0px 30px 80px rgba(29, 37, 45, 0.12);
	border-radius: 48px; */
	margin: 0 0 0;
	overflow: hidden;
	background-color: #fff;
}
.main .col:first-child {
	/* padding: 48px 0 0;
	max-width: 485px; */
}
/*-e-main-----------------------*/



/*-b-bdp------------------------*/
.bdp {
	/* padding: 250px 0 183px; */
}
.bdp .bg1 {
	/* top: 43px;
	right: calc(50% - 20px);
	width: 1038px;
	height: 746px; */
	background-image: url(../img/gray_amorphic.svg);
}
.bdp .bg2 {
	/* top: 185px;
	right: calc(50% + 48px);
	width: 672px;
	height: 499px; */
	background-image: url(../img/Group39.svg);
}
.bdp .col {
	/* margin: 0 -83px 0 auto;
	max-width: 670px; */
}
.bdp p {
	/* margin: 0 0 41px; */
}
/*-e-bdp------------------------*/



/*-b-fip------------------------*/
.fip {
	/* padding: 154px 0 50px; */
}
.fip .center {
	margin: 0 auto;
	/* max-width: 840px; */
	text-align: center;
}
.fip p {
	/* margin: 0 0 41px; */
}
.fip h2 {
	/* margin: 0 0 27px; */
}
#fip-switch {
	position: relative;
	/* margin: 67px 0 0; */
	/* height: 601px; */
	max-width: 100%;
}
#fip-switch-bg {
	position: absolute;
	top: 0;
	/* left: calc(50% - 960px);
	width: 1320px;
	height: 601px; */
	/* border-radius: 0px 20px 200px 0px; */
	background-image: linear-gradient(90deg, #FFFFFF 0%, #F4F5F8 100%);
	transition: transform 0.6s ease, border-radius 0.6s ease;
}
#fip-switch-slider-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
/* #fip-switch-slider {} */
#fip-switch.right #fip-switch-bg {
	/* transform: translateX(640px); */
	/* border-radius: 20px 0px 0px 200px; */
}
#fip-switch-bg:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-90deg, #FFFFFF 0%, #F4F5F8 100%);
	opacity: 0;
	transition: opacity 0.6s ease;
}
#fip-switch.right #fip-switch-bg:before {
	opacity: 1;
}

.fip-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#fip-left {
	position: absolute;
	top: 50%;
	/* left: calc(50% - 869px); */
	transform: translate(0, -50%);
	opacity: 1;
	transition: opacity 0.6s ease;
}
#fip-switch.right #fip-left {
	opacity: 0.4;
	cursor: pointer;
}
#fip-left .fip-bg {
	/* width: 467px;
	height: 436px; */
	background-image: url(../img/Group45.svg);
}
#fip-right {
	position: absolute;
	top: 50%;
	/* right: calc(50% - 860px); */
	transform: translate(0, -50%);
	opacity: 0.4;
	cursor: pointer;
	transition: opacity 0.6s ease;
}
#fip-switch.right #fip-right {
	opacity: 1;
	cursor: default;
}
#fip-right .fip-bg {
	/* width: 453px;
	height: 429px; */
	background-image: url(../img/Group36.svg);
}

#fip-center {
	position: relative;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#fip-center .fip-bg1 {
	/* width: 360px;
	height: 480px; 
	border-radius: 15px;*/
	background-color: #fff;
	background-image: url(../img/Group35.svg);
}
#fip-center .fip-bg2 {
	/* width: 103px;
	height: 281px; */
	background-color: #fff;
	background-image: url(../img/Group26.svg);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#fip-title {
	position: absolute;
	/* top: 20px; 
	font-size: 36px;
	line-height: 54px;
	letter-spacing: -1.3px;*/
	left: 50%;
	transform: translateX(-50%);
	font-family: "Mark";
	font-weight: 800;
	white-space: nowrap;
}

/*-fip-phone-*/
#fip-phone {
	position: absolute;
	/* top: 271px;
	right: 324px;
	width: 127px;
	height: 230px; */
}
#fip-phone-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../img/Group16.svg);
	/* filter: drop-shadow(-3px 5px 14px rgba(0, 0, 0, 0.2)); */
}
#fip-phone-title {
	position: absolute;
	/* top: 29px; */
	left: 50%;
	transform: translateX(-50%);
	/* font-size: 5.4px;
	width: 70px; */
	text-align: center;
}
#fip-phone-img {
	position: absolute;
	/* top: 92px;
	left: 44px;
	width: 38px;
	height: 101px; */
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/Group5.svg);
}
#fip-phone .btn {
	position: absolute;
	left: 50%;
	/* bottom: 17px;
	left: 50%;
	width: 94px;
	height: 16px; */
	/* font-size: 5.4px; */
	text-transform: uppercase;
	transform: translateX(-50%);
	cursor: default;
}

#fip-phone-sizes {
	position: absolute;
	/* top: 44px;
	left: 50%;
	width: 96px;
	height: 38px; */
	overflow: hidden;
	transform: translateX(-50%);
}
#fip-phone-slider {
	position: relative;
	/* left: -1.5px; */
	display: flex;
	transition: transform 0.6s ease;
}
.fip-phone-size {
	flex-shrink: 0;
	position: relative;
	/* top: 8px;
	width: 28px;
	height: 24px;
	margin: 0 1.5px;
	border-radius: 1.6px;
	font-size: 11.28px; 
	border-width: 1px; */
	box-sizing: border-box;
	border-style: solid;
	border-color: rgba(153, 162, 189, 0.3);
	transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
	font-family: "Helvetica Neue";
	display: flex;
	justify-content: center;
	align-items: center;
}
.fip-phone-size.active {
	/* top: 6px;
	width: 32px;
	height: 28px; 
	font-size: 14.5px;	*/
	background-color: #000;
	color: #fff;
	border-color: #000;
}
.fip-phone-size:before {
	content: "";
	position: absolute;
	/* top: -5px;
	left: 50%;
	bottom: -5px;
	width: 12px; */
	opacity: 0;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAmCAMAAADHnIqFAAAAeFBMVEVHcEwAAAAAAAASEhsdJS0dJC0cJCweJCwdJS0cJC0QExkcJS0AAAAAAAAAAAAAAAAAAAAdJS0dJS3///8dJS0AAACOkpbj5OVVW2FjaW/x8vI5QEdyd3srMjrx8fJHTVSAhYmcoKM5QUdITlXHyMvU1tiqrbC4u72AbzODAAAAE3RSTlMAv98QoI9AIN+/UICQgHBAIO9g1LPo7AAAAIxJREFUGBnlwIcBwiAABMBXSQC7/kO6vey/oaToEh6SPPPe5Bhk0u0uZUhWqmqyaGUAq4qDi3JkKpi08SQD35BPRl14dvAN3yrVkqWD6eqi0bkmO4+lIk9VQb50BLyuTB6dA2CdyhhLOYvEGicdVgtMrMWfm4UeRrPQw2gZkg0m6xDm+FrMwx4/uy16HzsXCvyKhIpBAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: translateX(-50%);
	transition: opacity 0.3s ease;
}
.fip-phone-size.active:before {
	opacity: 1;
}

/*-fip-tag-*/
#fip-tag {
	position: absolute;
	/* left: 318px;
	top: 269px; */
	/* padding-top: 40px; */
	/* filter: drop-shadow(3px 5px 14px rgba(0, 0, 0, 0.2)); */
}
#fip-tag-text {
	position: absolute;
	/* top: 10px;
	left: 41px;
	font-size: 13.8px;
	line-height: 16px; 
	letter-spacing: -0.3px;*/
	text-align: center;
	font-family: "Mark";
	font-weight: 800;
	transform: rotate(12deg);
}
#fip-tag-bg {
	/* width: 114px;
	height: 166px; */
	/* width: 115px;
	height: 189px; */
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../img/Group13.svg);
}
#fip-tag-nums {
	position: absolute;
	/* bottom: 42px;
	left: 16px; */
	/* bottom: 28px;
	left: 8px;
	width: 77px;
	height: 51px; */
	transform: rotate(12deg);
	overflow: hidden;
}
#fip-tag-slider {
	display: flex;
	position: relative; 
	transition: transform 0.6s ease;
}
.fip-tag-num {
	flex-shrink: 0;
	/* width: 77px;
	font-size: 40px;
	line-height: 51px; */
	font-family: "Mark";
	font-weight: 800;
	color: #fff;
	text-align: center;
}
/*-e-fip------------------------*/



/*-b-wcb------------------------*/
.wcb {
	/* padding: 50px 0 70px; */
}
.wcb .center {
	margin: 0 auto;
	text-align: center;
}
.wcb h2 {
	/* margin: 0 0 27px; */
	margin: 0 0 1.406vw;
}
.grid {
	margin: 0 auto;
	display: grid;
	/* width: 1180px; */
	/* grid-template-columns: repeat(6, 180px); */
	/* grid-gap: 20px; */
}
.g-elem {
	position: relative;
	overflow: hidden;
	/* height: 520px; */
}
.g-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.g-img:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(180deg, rgba(29, 37, 45, 0.025) 0%, rgba(29, 37, 45, 0.2) 52.4%, rgba(29, 37, 45, 0.6) 100%);
}
.g-elem:before {
	content: "";
	position: absolute;
	/* top: 282px; */
	/* width: 800px;
	height: 800px; */
	/* transform: translate(-50%, 238px); /* 26.3% */
	left: 50%;
	z-index: 2;
	width: 210%;
	padding-top: 210%;
	border-radius: 50%;
	background-image: linear-gradient(330deg, #4649CD 0%, #0090D6 88.3%);
	transition: transform 0.3s ease;
}
.g-elem:hover:before {
	transform: translate(-50%, 0px);
}
.g-elem.g2 {
	grid-column: span 2;
}
.g-elem.g3 {
	grid-column: span 3;
}
.g-elem.g4 {
	grid-column: span 4;
}
.g-text {
	position: absolute;
	/* bottom: 80px;
	left: 20px;
	right: 20px;
	font-size: 48px;
	font-weight: 800;
	line-height: 54px;
	letter-spacing: -1.8px;
	text-shadow: 2px 2px 8px rgba(29, 37, 45, 0.148028); */
	font-weight: 800;
	z-index: 3;
	font-family: "Mark";
	text-align: center;
	color: white;
	transition: transform 0.3s ease;
}
.g-text:before {
	content: attr(data-t);
	position: absolute;
	top: 50%;
	left: 50%;
	color: transparent;
	/* text-stroke: 1px white;
	-webkit-text-stroke: 1px white; */
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease;
	z-index: -1;
}
.g-elem:hover .g-text {
	/* transform: translateX(148px); */
}
.g-elem:hover .g-text:before {
	/* transform: translate(calc(-50% - 296px), -50%); */
}

/*-slider-dots-*/
.slider-dots {
	position: relative;
	display: flex;
	justify-content: center;
}
.slider-dots ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.slider-dots li {
	position: relative;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	cursor: pointer;
}
.slider-dots button {
	visibility: hidden;
}
.slider-dots li:last-child {
	margin-right: 0;
}
.slider-dots li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #FFFFFF;
	opacity: 0.3;
	transition: opacity 0.6s ease, transform 0.6s ease;
}
.slider-dots li.slick-active {
	cursor: default;
	pointer-events: none;
}
.slider-dots li.slick-active:before {
	transform: translate(-50%, -50%) scale(1.5);
	opacity: 1;
}

/*-slider-dots-num-*/
.slider-dots-num {
	position: relative;
	display: flex;
	justify-content: center;
}
.slider-dots-num ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
.slider-dots-num li {
	position: relative;
	cursor: pointer;
	opacity: 0.3;
	margin-right: 7px;
	display: flex;
	align-items: center;
	transition: opacity 0.6s ease;
}

.slider-dots-num li:last-child {
	margin-right: 0px;
}
.slider-dots-num li:before,
.slider-dots-num li:after {
	content: "";
	width: 0px;
	height: 1px;
	background-color: #FFFFFF;
	transition: width 0.6s ease, margin 0.6s ease;
}
.slider-dots-num li.slick-active {
	cursor: default;
	pointer-events: none;
	opacity: 1;
}
.slider-dots-num li.slick-active:before {
	width: 24px;
	margin: 0 4px 0 -2px;
}
.slider-dots-num li.slick-active:after {
	width: 24px;
	margin: 0 -2px 0 4px;
}
.slider-dots-num li.slick-active:first-child:before {
	width: 0;
	margin: 0;
}
.slider-dots-num li.slick-active:last-child:after {
	width: 0;
	margin: 0;
}

.slider-dots-num button {
	font-family: "Mark";
	font-weight: 700;
	color: white;
	font-size: 16px;
	letter-spacing: -0.3px;
	cursor: inherit;
}
.slider-dots-num button:before {
	content: "0";
}
/*-e-fip------------------------*/



/*-b-onestep--------------------*/
.onestep {
	/* padding: 180px 0 188px; */
	background-color: var(--gray);
}
.onestep .bg1 {
	bottom: 0;
	/* left: 0;
	width: 486px;
	height: 335px; */
	/* width: 599px;
	height: 366px; */
	background-image: url(../img/Group383.svg);
}
.onestep .bg2 {
	top: 0;
	right: 0;
	/* width: 932px; */
	/* width: 996px;
	height: 680px; */
	background-image: url(../img/Group382.svg);
}
.onestep .col {
	/* margin: 0 0 0 93px;
	max-width: 630px; */
}
.onestep h2 {
	/* margin: 0 0 23px; */
}
.onestep p {
	/* margin: 0 0 54px; */
}
/*-e-onestep--------------------*/



/*-b-ourcnp---------------------*/
.ocp {
	/* padding: 60px 0 60px; */
}
.ocp .wrapl {
	flex-direction: column;
}
.ocp h2 {
	/* margin: 0 auto 23px; */
}
.cp-reviews-row {
	display: flex;
	/* margin: 0 0 30px; */
}
.cp-reviews-row:last-child {
	margin-bottom: 0;
}
.cp-elem {
	position: relative;
	/* width: 320px;
	height: 480px;
	border-radius: 20px;
	box-shadow: 3px 8px 30px rgba(0, 0, 0, 0.046); */
	transition: box-shadow 0.3s ease;
	flex-shrink: 0;
	cursor: pointer;
}
.cp-elem.active {
	cursor: default;
}
.cp-elem:nth-child(2) {
	/* margin: 0 0 0 20px; */
	margin: 0 0 0 1.042vw;
}
.cp-reviews-row:nth-child(2n) .cp-elem:nth-child(2) {
	/* margin: 0 20px 0 0; */
}
.cp-reviews-row:nth-child(2n) {
	flex-direction: row-reverse;
}
.cp-elem:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	/* border-radius: 20px; */
	background-image: linear-gradient(180deg, #3E4C59 0%, var(--black) 100%);
	transition: opacity 0.3s ease;
}
.cp-img {
	position: absolute;
	top: 0;
	left: 0;
	/* border-radius: 20px 20px 100px 20px;
	height: 300px; */
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(232, 235, 240, 0.5);
	transition: background-color 0.3s ease;
	display: flex;
}
.cp-img img {
	margin: auto;
	max-width: 80%;
	max-width: 80%;
	object-position: center;
	object-fit: contain;
}
.cp-text {
	position: absolute;
	/* left: 30px;
	bottom: 29px;
	font-size: 19px;
	line-height: 23px; */
	display: flex;
	flex-direction: column;
	color: var(--black);
	font-family: "Mark";
	transition: transform 0.3s ease 0.3s;
}
.cp-title {
	font-weight: 800;
	transition: color 0.3s ease;
}
.cp-descr {
	font-weight: 600;
	transition: color 0.3s ease;
}
.cp-link {
	position: absolute;
	/* left: 30px;
	bottom: 31px; */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease 0s, visibility 0s linear 0.3s;
	color: white;
}
.cp-elem:hover {
	/* box-shadow: 8px 8px 40px rgba(153, 162, 189, 0.3); */
}
.cp-elem:hover:before {
	opacity: 1;
}
.cp-elem:hover .cp-img {
	background-color: var(--red);
}
.cp-elem:hover .cp-text {
	/* transform: translateY(-42px); */
	color: white;
	transition: transform 0.3s ease 0s;
}
.cp-elem:hover .cp-descr {
	color: var(--text-fair);
}
.cp-elem:hover .cp-link {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease 0.3s, visibility 0s linear 0s;
}

.cp-details {
	position: relative;
	/* margin: 0 90px 0 60px;
	width: 370px; */
	transition: height 0.2s ease 0.2s;
}
.cp-detail {
	position: absolute; 
	/* top: 44px;
	left: 0;
	width: 370px;
	padding: 52px 0 0 110px; */
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}
.cp-detail.active {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease 0.3s, visibility 0s ease 0.3s;
}
.cp-detail-img {
	position: absolute;
	top: 0;
	left: 0;
	/* width: 80px;
	height: 80px;
	border-radius: 20px; */
	overflow: hidden;
	background-color: var(--black);
	opacity: 0.2;
}
.cp-detail-img img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.cp-detail-descr {
	/* font-size: 16px;
	line-height: 22px; */
}
.cp-name {
	font-family: "Mark";
	font-weight: 700;
	/* margin: 33px 0 14px;
	font-size: 19px;
	line-height: 12px;
	letter-spacing: -0.4px; */
}
.cp-pos {
	/* max-width: 160px; */
}

.ocp .btnr {
	/* padding-bottom: 2px;
	margin: 30px auto 50px; */
}
#cp-load-more:before {
	position: absolute;
	/* font-size: 7px;
	bottom: 15px;*/
	left: 50%;
	transform: translateX(-50%);
}
/*-e-ourcnp---------------------*/



/*-b-fitno-------------------------*/
.fitno .block {
	width: 100%;
	/* height: 240px; */
	box-sizing: border-box;
	/* padding: 79px 560px 78px 109px; */
	color: white;
	background-color: var(--black);
	background-size: cover;
	background-repeat: no-repeat;
}
.fitno .block-title {
	font-family: "Mark";
	font-weight: bold;
	/* font-size: 24px;
	line-height: 27px;
	letter-spacing: -0.4px;
	margin: 0 0 8px 0; */
}
.fitno .block-descr {
	/* font-size: 20px;
	letter-spacing: -0.4px; */
	/* line-height: 27px; */
	color: var(--text-fair);
}
/*-e-fitno---------------------*/



/*-b-ms-------------------------*/
.ms {
	/* padding: 51px 0 74px; */
	background-image: linear-gradient(349deg, #4649CD 2%, #0090D6 82.3%);
	background-repeat: no-repeat;
	background-position: center;
}
.ms .wrapl {
	flex-direction: column;
}
.ms h2 {
	color: white;
	/* margin: 0 auto 40px; */
}
.ms-slider-wrap {
	position: relative;
}
.ms-slider-hider {
	max-width: 100%;
	overflow: hidden;
}
.ms-slider {
	/* margin-left: -10px;
	width: calc(100% + 20px); */
}
.ms-slider .d-elem {
	/* margin: 0 10px; */
}

.slider-arrows {
	position: absolute;
	/* top: 195px;
	left: -150px;
	height: 130px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slider-arrow {
	position: relative;
	/* width: 60px;
	height: 60px;
	box-shadow: 0px 3px 15px rgba(29, 37, 45, 0.1); */
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.slider-arrow:before {
	position: absolute;
	top: 50%;
	left: 50%;
	/* font-size: 13px; */
	transform: translate(-50%, -50%);
	color: var(--black);
}
/*-e-ms-------------------------*/
/*-b-d-elem---------------------*/
.d-elem {
	position: relative;
	/* width: 380px !important;
	height: 520px;
	border-radius: 20px;
	box-shadow: 3px 8px 30px rgba(0, 0, 0, 0.05); */
	overflow: hidden;
	background-color: white;
	font-family: "Mark";
}
.d-elem-shop-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(1);
	transition: filter 0.3s ease;
	width: 52.632%;
	padding-top: 52.632%;
}

.d-elem-shop-img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: contain;
	object-position: center;
}

.d-elem-shop-text {
	/* margin: 35px auto auto; */
	display: flex;
	flex-direction: column;
}
.d-elem-shop-title {
	/* margin-bottom: 16px;
	font-size: 24px;
	line-height: 26px;
	letter-spacing: -0.4px; */
	text-align: center;
	font-weight: 700;
}
.d-elem-shop-date {
	/* margin-bottom: 6px;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.3px; */
	text-align: center;
	font-weight: 700;
}
.d-elem-shop-location {
	/* font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.3px; */
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}

.d-elem-circle {
	position: absolute;
	/* top: 420px; */
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.d-elem-circle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	/* width: 1500px;
	height: 1500px; */
	border-radius: 50%;
	background-color: rgba(232, 235, 240, 0.5);
	transform: translateX(-50%);
	transition: background-color 0.3s ease;
}
.d-elem-link-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	/* padding-right: 14px;
	letter-spacing: -0.4px;
	font-size: 16px; */
	transition: color 0.3s ease;
}
.d-elem-link-text:before {
	position: absolute;
	/* font-size: 11px;
	top: 7px; */
	right: 0;
}

.d-elem:hover .d-elem-shop-img {
	filter: grayscale(0);
}
.d-elem-circle:hover:before  {
	background-color: var(--black);
}
.d-elem-circle:hover .d-elem-link-text {
	color: white;
}
/*-e-d-elem---------------------*/



/*-b-footer----------------------*/
footer {
	position: relative;
	/* padding: 63px 0 67px; */
}
footer:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* height: 1px; */
	background-color: #000;
	opacity: 0.07;
}

/*-footer-btnrs-*/
#footer-msg {
	position: absolute;
	top: 0;
	/* left: calc(50% + 590px); */
	display: flex;
	transform: translateY(-50%);
}
#footer-msg .btnr {
	/* margin-right: 10px;
	box-shadow: 2px 2px 8px rgba(17, 31, 57, 0.102573); */
}
#footer-msg .btnr:last-child {
	margin-right: 0;
}
#f-arr:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* font-size: 9px; */
}
#f-msg {
	/* font-size: 28px; */
	display: flex;
    justify-content: center;
    align-items: center;
}
.icon-intercom:before {
	/* font-size: 32px;
	margin-bottom: -4px; */
}

/*-footer-all-*/
footer .col {
	position: relative;
	/* width: 320px; */
}
footer a {
	position: relative;
	color: var(--black);
	margin: 0 auto 0 0;
}
footer a:not(.social):before {
	content: "";
	position: absolute;
	/* bottom: 1px;
	height: 1px; */
	left: 0;
	right: 0;
	background-color: var(--black);
}
footer .btn {
	/* height: 40px;
	font-size: 14px; */
}

/*-footer-1-*/
#footer-1 {
	/* margin-right: 40px; */
}
#footer-1 .logo {
	/* margin: 0 0 26px; */
}
.address {
	/* margin: 0 0 19px;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.4px; */
	font-family: "Mark";
	display: flex;
	flex-direction: column;
}
.address label {
	/* margin: 0 0 6px; */
	font-weight: 600;
}
address,
.address a {
	font-family: "Helvetica Neue";
	/* font-size: 14px;
	max-width: 170px; */
	font-weight: 500;
	font-style: normal;
}
.address a {
	color: var(--red);
	/* max-width: 160px; */
}
.address a:not(.social):before {
	background-color: var(--red);
}
#footer-1 .btn {
	/* margin: 9px auto 0 0;
	width: 160px; */
}
#copyright {
	position: absolute;
	/* font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.1px; */
	color: rgba(29, 37, 45, 0.6);
}

/*-footer-2-*/
#footer-2 {
	/* margin-right: 54px; */
}
footer .grid {
	width: 100%;
	/* grid-template-columns: 180px 1fr;
	grid-gap: 23px 10px; */
}
#footer-2 .grid a {
	font-weight: 700;
	text-transform: uppercase;
	/* font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.4px; */
}
#footer-2 .grid a:before {
	/* bottom: 2px; */
}
footer .socials {
	/* margin: 120px 0 0 0; */
}
#footer-2 a {
	font-family: "Roboto";
	font-weight: 600;
	/* font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.1px; */
}
#footer-2 a:before {
	/* bottom: 5px; */
}
.social:before {
	color: var(--black);
	transition: color 0.3s ease;
}
.icon-fb:hover {
	background-color: #2E528E;
	border-color: #2E528E;
}
.icon-insta:hover {
	background-color: #EB2891;
	border-color: #EB2891;
}
.icon-tw:hover {
	background-color: #60A6E4;
	border-color: #60A6E4;
}
.icon-in:hover {
	background-color: #256486;
	border-color: #256486;
}
.icon-youtube:hover {
	background-color: #E53022;
	border-color: #E53022;
}
.icon-fb:before {
	/* font-size: 14px; */
}
.icon-insta:before {
	/* font-size: 18px; */
}
.icon-tw:before {
	/* font-size: 13px; */
}
.icon-in:before {
	/* font-size: 15px;
	margin-top: -2px; */
}
.icon-youtube:before {
	/* font-size: 12px; */
}
.social:hover:before {
	color: white;
}
#footer-pptc{
	position: absolute;
	bottom: 0;
}

/*-footer-3-*/
#footer-3 {
	/* margin-right: 66px; */
}
.footer-title {
	/* margin: 0 0 24px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.4px; */
	font-family: "Mark";
	font-weight: 700;
	text-transform: uppercase;
}
.footer-blog {
	/* margin: 0 0 14px;
	padding: 0 0 19px; */
	position: relative;
}
.footer-blog:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/* border-bottom: 1px dashed var(--blue); */
}
.footer-blog-title {
	/* margin: 0 0 5px;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.4px; */
	font-family: "Mark";
	font-weight: 700;
}
.footer-blog-text {
	font-family: "Mark";
	font-weight: 500;
	/* font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.4px; */
}

/*-footer-4-*/
/* #footer-4 {} */
#footer-4 form {
	margin: 0 0 auto;
}
.input {
	position: relative;
}
#footer-4 input {
	/* margin: 0 0 20px 0;
	padding: 0 8px 10px 26px; */
	/* border-bottom: 1px solid #1D252D4C; */
}
#footer-4 .input:before {
	content: "";
	position: absolute;
	left: 0px;
	/* top: 3px;
	width: 18px;
	height: 14px; */
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../icons/svg/email.svg);
}
#footer-4 .btn {
	/* width: 150px; */
}
footer p {
	/* margin: 16px 0 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.1px; */
	color: rgba(29, 37, 45, 0.7);
}


/*-e-footer---------------------*/




#search-result {
	display: none;
}




/* body:after {
	top: 200px;
	left: calc(50% - 187.5px);
	width: 375px;
	height: 80px;
	content: "";
	position: fixed;
	box-sizing: border-box;
	border: 1px solid #ff000099;
} */